@import "ui/gray_brown";
@import "bootstrap";

.user-form{


  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.btn-lg > .glyphicon, .btn-group-lg > .btn > .glyphicon {
  line-height: 0.9;
  top:3px;
}